{% extends "main.html" %} {% block content %}
{% include "header.html" %}
<div class="row">
    <aside class="col-sm-4">
        <div class="title">
            <h2>Categories</h2>
        </div>
        <div class="category-list">
            {% for category in categories %}
                {% if category.user_id == user_id %}   
                    <div class="category">
                        <a href='{{url_for('showItems', category_id=category.id)}}'>
                            <h3>{{category.name}}</h3>
                        </a>
                    </div>
                {% else %}
                    <div class="category">
                        <div>
                            <h3>{{category.name}}</h3>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </aside>
    <section class="col-sm-8 item-list">
        <div class="item-list-title">
            <h1>Latest Items</h1>
        </div>
        <!-- Message Flashing -->
        <div class='flash'>
            {% with messages = get_flashed_messages() %} {% if messages %}
            <ul>
                {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
            </ul>
            {% endif %} {% endwith %}
        </div>
        {% for item in items %}
        <ul class="list-group list-style-type-none">
            {% if item.user_id == user_id %}
                <a class="list-group-item" id="item-name-click" href="{{url_for('editCategoryItem', category_id=item.category_id, item_id=item.id)}}">
                    <li id="item-name">
                         {{item.name}}
                    </li>
                </a>
            {% else %}
                 <div class="list-group-item" id="item-name-click">
                    <li id="item-name">
                        {{item.name}}
                    </li>
                </div>
            {% endif %}
            <li class="list-group-item" id="item-description">
                {{item.description}}
            </li>
        </ul>
        {% endfor %}
    </section>
</div>
{% endblock %}