{% extends "main.html" %} {% block content %}
<div class="row">
    <aside class="col-sm-4">
        <h2>Categories</h2>
        <div class="category-list">
            {% for category in categories %}
            <div class="category">
                <a href="#">
                    <h3>{{category.name}}</h3>
                </a>
            </div>
            {% endfor %}
        </div>
    </aside>
    <section class="col-sm-8 item-list">
        <article id="item-collection">
            <div class="item-list-title">
                <h3><strong>Collection</strong></h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                	Collection items
                </li>
            </ul>
        </article>
        <article id="latest-item">
            <div class="item-list-title">
                <h3><strong>Latest Items</strong></h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Latest Items</li>
            </ul>
        </article>
    </section>
</div>
{% endblock %}
