{% extends "main.html" %} {% block content %}
<div class="row">
    <aside class="col-sm-4">
        <h2>Categories</h2>
        <div class="category-list">
            <div class="category">
                <a href='#'>
                    <h3>{{category.name}}</h3>
                </a>
            </div>
            <div>
                <a class="btn btn-default btn-lg" href="{{url_for('showCategories')}}" role="button"><span class="glyphicon glyphicon-arrow-left"></span>BACK</a>
            </div>
        </div>
    </aside>
    <section class="col-sm-8 item-list">
        <article id="item-collection">
            <div class="item-list-title">
                <h3><strong>Collection</strong></h3>
            </div>
            {% for item in items %}
            <ul class="list-group">
                <li class="list-group-item" id="item-name">
                    {{item.name}}
                </li>
                <li class="list-group-item" id="item-description">
                    {{item.description}}
                </li>
            </ul>
            {% endfor %}
    </section>
</div>
{% endblock %}