{% extends "main.html" %} {% block content %}
<div class="row">
    <aside class="col-sm-4">
        <h2>Categories</h2>
        <div class="category-list">
            <div class="category">
                <a href='#'>
                    <h3>User's Category</h3>
                </a>
            </div>
        </div>
    </aside>
    <section class="col-sm-8 item-list">
        <div class="row">
            <div class="col-md-11 col-md-offset-1 category-list-title">
                <h1>New Category</h1>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <form method="post">
                    <div class="form-group">
                        <div class="new-category">
                            <label for="name">
                                <h3>Category Name:</h3></label>
                            <input type="text" class="form-control input-lg" maxlength="100" name="name" placeholder="Type name here...">
                        </div>
                        <div class="new-category">
                            <button type="submit" class="btn btn-default" id="submit" type="submit">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Create
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}